<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/chats" method="post">
        <input placeholder="who are you?" name="from" id=""><br><br>
        <textarea name="msg" id="">Write your new maessage here!..</textarea><br><br>
        <input placeholder="Add reciever" name= "to"><br><br>
        <button>Create New</button>
    </form>
</body>
</html>